@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    @include flex-center;

    width: 100vw;
    height: 100vh;

    background: #c9c9c9;
}

.none {
    display: none !important;
}

.container1 {
    @include flex-center;
    flex-direction: column;

    width: 500px;
    height: 500px;

    text-align: center;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba($color: #000, $alpha: .2);

    h1 {
        margin-bottom: 50px;
        font-size: 2.5rem;
    }
}

.input-group {
    width: 100%;
    @include flex-center;
    flex-direction: column;
    margin-bottom: 50px;
    outline: none;

    label {
        font-size: 2rem;
    }

    input {
        width: 50%;
        border: 0;
        background: #292727;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        padding: 10px 0;
    }
}

.choose-group {
    @include flex-center;
    flex-direction: column;
    width: 100%;

    p {
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    .radios-group {
        @include flex-center();
        gap: 20px;
        
        .radio-group {
            @include flex-center();
            flex-direction: column;
            gap: 5px;
            background: #000;
            color: #eee;
            width: 60px;
            height: 60px;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
            transition: .3s all;
            margin-bottom: 30px;

            &:hover {
                transform: scale(1.1);
            }

            input {
                display: none;
            }
        }
    }
}

button {
    width: 50%;
    height: 40px;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    outline: none;
    background: #292727;
    color: #eee;
    transition: .3s all;

    &:hover {
        background: #000;
        letter-spacing: 2px;
    }
}

.container2{
    @include flex-center;
    flex-direction: column;

    width: 400px;
    height: 400px;

    text-align: center;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba($color: #000, $alpha: .2);

    h1 {
        margin-bottom: 80px;

        span {
            color: #06489e;
        }
    }

    .result-group {
        margin-bottom: 80px;

        h2 {
            font-weight: normal;

            span {
                font-weight: bold;

                &:last-child {
                    color: #06489e;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    body {
        padding: 20px;
    }
}